*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.container{
    height: 400px;
    width: 375px;
    perspective: 900px;
}
img{
    height: 280px;
    width: 278px;
    border-radius: 10px;
}
.back{
    height: 280px;
    width: 278px;
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    background: linear-gradient(45deg, rgb(36, 35, 35), rgba(142, 135, 135, 0.858));
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}
.front, .back{
    position: absolute;
    backface-visibility: hidden;
}
.card{
    position: relative;
    transition: transform 1s cubic-bezier(.65,0,.24,.94);
    transform-style: preserve-3d;
}
 .card:hover{
    cursor: grab;
    transform: rotateY(180deg);
}
h2{
 text-decoration: underline;
}
h1{
    font-family: monospace;
    font-size: 3em;
    letter-spacing: 7px;
    border-right: 1.5px solid black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1500ms steps(18),
               cursor .4s step-end infinite alternate;
 }
 @keyframes cursor {
    50%{
        border-color: transparent;
    }
 }
 @keyframes typing {
    from{
        width: 0;
    }
 }
 @media  screen and (max-width: 900px) {
    *{
        font-size: 15px;
        letter-spacing: 1.5px;
    }
    body{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    h1{
        font-size: 15px;
        letter-spacing: 1.5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    img{
        height: 60vh;
        width: 40vw;
    }
    .container, .card{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .front, .back{
        height: 60vh;
        width: 40vw;
    }
 }